.navbarUl {
  margin: 0;
  margin-bottom: 12px;
}

.navbarLi {
  display: block;
  padding: 4px 8px;
  list-style-type: none;
}

.navbarLink {
  display: block;
  text-decoration: none;
  font-weight: 600;
  text-align: start;
  color: gray;

  &:hover {
    color: #5db4fa;
  }
}

.isActive {
  display: block;
  text-decoration: none;
  font-weight: 600;
  text-align: start;
  color: #2574db;

  &:hover {
    color: #5db4fa;
  }
}
